#container {
    width: 960px;
}

#banner {
    /*height: 100px;*/
    width: 900px;
    background-color: #3A7ABA;
    font-size: xx-large;
    text-align: center;
    
}

#menu {
    width: 200px;
    height: 500px;
    background-color: #66CCFF;
    float: left;
    font-size: large;
}

#content {
    width: 700px;
    height: 500px;
    background-color: #E6E6B8;
    float: left;

}

#footer {
    width: 900px;
    background-color: #3A7ABA;
    text-align: center;
}